<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tucan.olu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.tucan.olu.OluApplication"
        android:allowBackup="false"
        android:icon="@drawable/olu_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tucan.olu.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tucan.olu.SelectUserTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.MetadosPagosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TrainerCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TermsOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tucan.olu.LoginScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ChatScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tucan.olu.CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ReservarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.UbicacionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ChangeLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tucan.olu.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tucan.olu.IngresaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tucan.olu.InstructorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.InstructorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ResumenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ComprarPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.MisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.AdjustesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.SesinorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.AgendaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.HistoricalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ProximasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.SaldoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.ConfirmarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.PhotoTarinerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TrainerHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TutorialsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.IniciarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TrainerRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TrainerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TrainerPaymentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.AcceptedSessionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.UserPaymentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tucan.olu.TrainerEditProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tucan.olu.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tucan.olu.LocationUpdateActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.tucan.olu.Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.tucan.olu.Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupForAcceptActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupForDeclineActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupForStartActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupForFinishActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupForCancelActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupForAutoCancelActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.tucan.olu.Firebase.NotificationPopupForCancelTrainerActivity"
            android:theme="@style/Theme.Transparent" />

        <receiver android:name=".location.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tucan.olu.location.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="com.tucan.olu.MyReceiver" />
        <receiver android:name="com.tucan.olu.MyReceiverForSession" />

        <service
            android:name="com.tucan.olu.MyAlarmService"
            android:enabled="true" />

        <service
            android:name="com.tucan.olu.LocationInfrastructure.FusedLocationService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJzgzVy9iQENaHeUbqux7GPVR4nJuDB9s" />

        <activity android:name="com.tucan.olu.WebViewPlaceToPayActivity"
            android:screenOrientation="portrait"/>

    </application>


    <!--AIzaSyBEZAJfdT7wsSDqolfK_LVg081a86vQwas-->
</manifest>