<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elisa.olu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".OluApplication"
        android:allowBackup="false"
        android:icon="@drawable/olu_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectUserTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MetadosPagosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainerCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReservarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UbicacionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IngresaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InstructorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstructorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResumenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComprarPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdjustesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SesinorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgendaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoricalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProximasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaldoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoTarinerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainerHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IniciarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainerRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainerPaymentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcceptedSessionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPaymentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainerEditProfileActivity"
            android:screenOrientation="portrait" />

        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Firebase.NotificationPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Firebase.NotificationPopupForAcceptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Firebase.NotificationPopupForDeclineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Firebase.NotificationPopupForStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Firebase.NotificationPopupForFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Firebase.NotificationPopupForCancelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Firebase.NotificationPopupForAutoCancelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Firebase.NotificationPopupForCancelTrainerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".MyReceiver" />
        <receiver android:name=".MyReceiverForSession" />

        <service
            android:name=".MyAlarmService"
            android:enabled="true" />

        <service
            android:name=".LocationInfrastructure.FusedLocationService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJzgzVy9iQENaHeUbqux7GPVR4nJuDB9s" />

        <activity android:name=".WebViewPlaceToPayActivity"
            android:screenOrientation="portrait"/>

    </application>


    <!--AIzaSyBEZAJfdT7wsSDqolfK_LVg081a86vQwas-->
</manifest>